@model EFTransaction.Models.EmployeeCreateViewModel


<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-item ">
                            <a asp-action="Index">Employee List</a>
                        </li>
                        <li class="breadcrumb-item active" arial-current="page">
                            <a asp-action="Index">New Employee</a>
                        </li>
                    </ol>
                </nav><br /><br />
                <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                       @* <div class="form-group col-md-2">
                            <label asp-for="Id"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input asp-for="Id" readonly class="form-control" />
                           
                        </div>*@
                        <div class="col-md-2">
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="DateOfJoin"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input asp-for="DateOfJoin" class="form-control" />
                            <span asp-validation-for="DateOfJoin" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label asp-for="FirstName"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input asp-for="FirstName" class="form-control" placeholder="Enter First Name.." />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                       
                        <div class="form-group col-md-2">
                            <label asp-for="LastName"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input asp-for="LastName" class="form-control" placeholder="Enter Last Name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label asp-for="Gender"></label>
                        </div>
                        <div class="form-check col-md-3">
                            <select class="form-control" asp-for="Gender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                            @*<input asp-for="Gender" type="radio" value="Male" />Male
                            <input asp-for="Gender" type="radio" value="Female" />Female*@
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                        </div>

                        <div class="form-group col-md-2">
                            <label asp-for="DateOfBirth"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label asp-for="DepartmentId"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input asp-for="DepartmentId" class="form-control" placeholder="Enter PAN number.." />
                            <span asp-validation-for="DepartmentId" class="text-danger"></span>
                        </div>
                        <div class="col-md-2"></div>

                        <div class="form-group col-md-2">
                            <label asp-for="Email"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input asp-for="Email" class="form-control" placeholder="Enter Email.." />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label asp-for="PhoneNumber"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone Number.." />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-2"></div>

                    
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label asp-for="Designation"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input asp-for="Designation" class="form-control" placeholder="Enter Designation .." />
                            <span asp-validation-for="Designation" class="text-danger"></span>
                        </div>
                        <div class="col-md-2"></div>

                        <div class="form-group col-md-1">
                            <label asp-for="ImageUrl"></label>

                        </div>
                        <div class="form-group col-md-4">
                            <div class="btn btn-primary btn-icon-text">
                              @*  <i class="fas fa-cloud-upload-alt"></i>
                                <input asp-for="ImageUrl" type="file" value="Upload" />*@
                                <input asp-for="ImageUrl" class="form-control" placeholder="Enter Designation .." />
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>


                        </div>
                    </div>

                      <div class="form-row">
                        <div class="form-group col-md-2">
                            <label asp-for="DeptName"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input asp-for="DeptName" class="form-control" placeholder="Enter Department Name.." />
                            <span asp-validation-for="DeptName" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-2">
                            <label asp-for="DeptCode"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input asp-for="DeptCode" class="form-control" placeholder="Enter Department Code" />
                            <span asp-validation-for="DeptCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" class="form-control" placeholder="Enter Address." />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City"></label>
                        <input asp-for="City" class="form-control" placeholder="Enter City." />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Postcode"></label>
                        <input asp-for="Postcode" class="form-control" placeholder="Enter Postcode." />
                        <span asp-validation-for="Postcode" class="text-danger"></span>
                    </div><br /><br />

                    <div class="form-group">

                        <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>
                        <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                        <br />
                        <br />
                        <br />

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
            }


